
html, body
{
	background: #cccccc;	
	height:100%;
}


div.container
{
	width:600px;
	margin: 0 auto 0 auto;
	height: 100%;
	min-height: 100%;
	background: #ffffff;
	font-family: "trebuchet ms", verdana;
	border-radius: 12px;	
}

div.header
{
	height: 100px;
	background: #003366;
	color: #CCCC99;
	font-size: 30pt;
	text-align: center;
	border-radius: 12px;
	box-shadow:3px 5px 10px #333;
}

div.menu
{
	background:black;
	margin-top:-10px;
	height:50px;
	box-shadow:3px 5px 10px #333;
	background:#cccc90;
}

div.menuknop
{
	border-style:solid;
	float:left;
	height:29px;
	width:96px;
	border-width:2px;
	border-color: #003366;
	text-align:center;
	padding-top:17px;
}

div.center
{
	background:#ffffff;
	height: auto;
	min-height:100%;
	width:560px;
	box-shadow:3px 5px 10px #333;
	padding:20px;
}

div.footer
{
	height:20px;
	width:600px;
	background:#cccc90;
	text-align: center;
	float:left;
	border-radius: 12px;
	font-size:12pt;
	color:black;
	margin-top:-10px;
	box-shadow:3px 5px 10px #333;
	
}

/*######################################################*/

div.post
{
	border-style:solid;
	border-width:2px;
	border-color: #003366;
	padding:10px;
	width:520px;
	height:auto;
	border-radius: 6px;
	margin:5px;
}

div.login
{
	text-align:center;
	margin: 0 auto 0 auto;
}

div.currentpage
{
	border-style:solid;
	float:left;
	height:29px;
	width:96px;
	border-width:2px;
	border-color: #003366;
	background:#003366;
	text-align:center;
	padding-top:17px;
	color:#cccc90;
}

div.register
{
	text-align:left;
	margin-right:210px;
	margin-left:0;
}

div.tekst
{
	float:left;
}

div.newtopic
{
	float:left; 
	text-align:right; 
	margin-left: 15%;
}

div.picture
{
	float:left;
}

div.overmij
{
	border-style:solid;
	border-width:2px;
	border-color: #003366;
	padding:5px;
	width:300px;	
	height: 190px;
	border-radius: 6px;
	margin: 0 0 0 250px;
	
	
}

div.info
{
	border-style:solid;
	border-width:2px;
	border-color: #003366;
	padding:5px;
	width:200px;	
	height: 100px;
	border-radius: 6px;
	float:left;
	margin-right:10px;
	
}

div.startedtopics
{
	border-style:solid;
	border-color:#003366;
	width: 550px;
	margin-top:20px;
	border-radius:6px;
	padding:5px;
	border-width:2px;
}

div.forumstatus
{
	border-style:solid;
	border-color:#003366;
	padding:5px;
	border-radius:6px;
	border-width:2px;
	width: 200px;
	height:190px;
	margin-top:130px;

}

div.lastposts
{
	
	border-style:solid;
	border-color:#003366;
	padding:5px;
	border-radius:6px;
	border-width:2px;
	width: 300px;
	height:300px;
	float: right;
	margin-top:20px;
}

